# Banco de dados
database.sqlite
*.sqlite
*.db
*.sqlite3
escalanet-perguntas-stakeholder (1).docx

test-latency.sh


# Dependências
node_modules/

# Build
dist/

# Arquivos de ambiente
.env*
!.env.example